#!/bin/bash

# See /usr/share/doc/bash-doc/examples in the bash-doc package.

alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

alias gs='git status'
alias gd='git diff'
alias gdc='git diff --cached'
alias gco='git checkout'

alias rm='trash'

alias setclip='xclip -selection c'
alias copy='xclip -selection c'
alias getclip='xclip -selection c -o'
alias clipboard='xclip -selection c -o'
